    svg{
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
    }
    
    .background {
        fill: rgb(50,50,255);
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
    }

    .sov {
        fill: rgb(0,255,0);
        stroke: #2A2C39;
        stroke-width: 0.3;
    }

    .tooltip {
        fill: #FFFF00;
        background-color: #FFFF00;
    }
	
	.table td {
		text-align: center;
		vertical-align: middle;
    }

    #red, #green, #blue {
        float: left;
        clear: left;
        width: 100%;
        margin: 15px;
      }
    
    #red {
        background: linear-gradient(to right, rgb(1,0,0),rgb(255,0,0))
    }

    #green {
        background: linear-gradient(to right, rgb(0,1,0),rgb(0,255,0))
    }

    #blue {
        background: linear-gradient(to right, rgb(0,0,1),rgb(0,0,255))
    }

    .ui-slider-handle{
        border-color: black
    }

    #sovColor{
        height: 25;
        width: 25
    }

    .legend{
        background-color: #FFFF00;
    }