    svg{
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
    }
    
    .background {
        fill: #4444FF;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
    }

    .sov {
        fill: #00FF00;
        stroke: #2A2C39;
        stroke-width: 1;
    }

    .tooltip {
        fill: #FFFF00;
        background-color: #FFFF00;
    }